<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Revature Charity Trust-Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">

          <li class="nav-item">
              <a class="nav-link"  routerLink="adminlogin">Login</a>
            </li>

            <li class="nav-item">
              <a class="nav-link"  routerLink="adminregister">Register</a>
            </li>
            
          <li class="nav-item">
            <a class="nav-link"  routerLink="list-category">List category</a>
          </li>

          <li class="nav-item">
            <a class="nav-link"  routerLink="new-category">add category</a>
         
           
            <li class="nav-item">
              <a class="nav-link"  routerLink="addfund">Add fund Request</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="viewfund">View fund Request</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="admin/list">List admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="donor/list">List donor</a>
            </li>
           
 </ul>
 </div></nav>
