
<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-5 col-md-3 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
                <mat-card class="example-card">
                <form (submit)="addrequest()"class="example-form"ngNativeValidate >
              <h5 class="card-title text-center">Add Fund Request</h5>
              
              <!-- <div class="form-label-group">
                 <label for="inputEmail">Category</label>
                  <select name="Category Id"  [(ngModel)]="categoryId"name="categoryId"id="categoryId"class="form-control"> 
                    <option *ngFor="let data of categories" value="{{data.id }}">{{data.categoryName}}</option>
                </select>
                </div>--> 
                <mat-form-field class="example-full-width">
                    <mat-label><b>Category</b></mat-label>
                    <mat-select name="Category Id"  [(ngModel)]="categoryId"name="categoryId"id="categoryId" required>
                      <mat-option *ngFor="let data of categories" value="{{data.id}}">
                        {{data.categoryName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
               <!-- <div class="form-label-group">
                 <label for="inputPassword">Fund Needed(Rs)</label>
                  <input type="number" [(ngModel)]= "fundNeeded"name="fundNeeded" id="fundNeeded" class="form-control"min="1" max="100000000" placeholder="Enter fund Needed" required>
                </div>-->
                <br/>
                <mat-form-field class="example-full-width">
                   <mat-label><b>Fund Needed(Rs)</b></mat-label>
                    <input matInput type="number" [(ngModel)]= "fundNeeded"name="fundNeeded" id="fundNeeded" min="1" max="100000000" placeholder="Enter fund Needed" required>
                  </mat-form-field>
               <!-- <div class="form-label-group">
                  <label for="inputTitle">Enter title </label>
                   <input type="text" [(ngModel)]= "title"name="title" id="title" class="form-control" placeholder="Enter title" required>
                 </div>-->
                 <br/>
                 <mat-form-field class="example-full-width">
                    <mat-label><b>Enter title</b></mat-label>
                     <input matInput type="text" [(ngModel)]="title" name="title" id="title" placeholder="Enter title" required>
                   </mat-form-field>
               <!--  <div class="form-label-group">
                  <label for="inputTitle">Enter description</label>
                   <input type="text" [(ngModel)]= "description"name="title" id="description" class="form-control" placeholder="Enter description" required>
                 </div>-->
                 <br/>
                 <mat-form-field class="example-full-width">
                   <!-- <label for="inputTitle">Enter description</label>-->
                    <mat-label><b>Enter description</b></mat-label>
                  <textarea matInput [(ngModel)]= "description"name="title" id="description" placeholder="Enter description" required></textarea>
                </mat-form-field>
                   <br/>
                   <br/>
                   <button type="submit" class="" mat-raised-button color="primary" type="submit">Add Fund</button>&nbsp;
                   <button type="reset" class="" mat-raised-button color="warn">Reset</button>
                   </form>
                   </mat-card>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

