
<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Add Fund Request</h5>
              
                <div class="form-label-group">
                 <label for="inputEmail">Category</label>
                  <select name="Category Id"  [(ngModel)]="categoryId"id="categoryId"class="form-control"> 
                    <option *ngFor="let data of categories" value="{{data.id }}">{{data.categoryName}}</option>
                </select>
                </div>
                <div class="form-label-group">
                 <label for="inputPassword">Fund Needed(Rs)</label>
                  <input type="number" [(ngModel)]= "fundNeeded" id="fundNeeded" class="form-control" placeholder="Enter fund Needed" required>
                </div>
                <div class="form-label-group">
                  <label for="inputTitle">Enter title </label>
                   <input type="text" [(ngModel)]= "title" id="title" class="form-control" placeholder="Enter title" required>
                 </div>
                 <div class="form-label-group">
                  <label for="inputTitle">Enter description</label>
                   <input type="text" [(ngModel)]= "description" id="description" class="form-control" placeholder="Enter description" required>
                 </div>
                   <br/>
                   <br/>
                <button (click)="addrequest()"  type="submit" class="btn btn-success">Add Fund</button>
                <button style="margin-left: 5px;"type="reset" class="btn btn-danger">Reset</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

