<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card border-secondary">
          <div class="card-body">
            <i class="card-img-top ion-ios-paper-outline" style="font-size: 70px;background-color: rgb(248, 248, 248);padding: 0 10px;"></i>
            <h4 class="card-title">List Category</h4>
            <div class="card-text">
<table class="table">
 <thead>
     <tr>
         <th>Category Id</th>
         <th>Category Name</th>
         <th>Created By</th>
         <th>Date</th>
         <th>Status</th>
         <th>Action</th>
         
     </tr>
 </thead>
 <tbody>
     <tr *ngFor="let data of data">
         <td>{{data.id}}</td>
         <td>{{data.categoryName}}</td>
         <td>{{data.createdByName}}</td>
         <td>{{data.createdDate}}</td>
         <td><span *ngIf="data.active">Active</span><span *ngIf="!data.active">Inactive</span></td>
         <td><a class="btn btn-success" (click)="updateStatus(data.id,true)">Enable</a></td>
         <td><a class="btn btn-danger" (click)="updateStatus(data.id,false)">Disable</a></td>
     </tr>
 </tbody>
</table>
</div>
</div>
</div>
</div>
</div>
