<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Assign videos</h5>
              
                <div class="form-label-group">
                        <label for="inputEmail">Video Name</label>
                        <select name="Video Id"  [(ngModel)]="videoId" id="videoId" class="form-control">
                          <option *ngFor="let data of videos" value="{{data.id}}">{{data.title}}</option>
                      </select>
                      <button (click)="addvideo()"  type="submit" class="btn btn-success">submit</button>&nbsp;
       
            </div>
            </div>
          </div>
        </div>
    </div>
    </div>
    </body>