<h3>Fund Requests</h3>
            <br/>
<table class="table">
    <thead>
        <tr>
            
            <th>S.No</th>
            <th>Category Id</th>
            <th>Fund Needed</th>
            <th>Requested By</th>
            <th>Created Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of fundList">
            <td>{{data.id}}</td>
            <td>{{data.categoryId}}</td>
            <td>{{data.fundNeeded}}</td>
            <!--Temporarily used name for requested by-->
            <td>{{data.requestedBy}}</td>
            <td>{{data.createdDate}}</td>
        </tr>
    </tbody>
</table>