<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card border-secondary">
          <div class="card-body">
            <i class="card-img-top ion-ios-paper-outline" style="font-size: 70px;background-color: rgb(248, 248, 248);padding: 0 10px;"></i>
            <h4 class="card-title">List Video</h4>
            <div class="card-text">
<table class="table">
    <thead>
        <tr>
        
            <th>Video Id</th>
            <th>Video title</th>
            <th>Url</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of videoList">
            <td>{{data.id}}</td>
            <td>{{data.title}}</td>
            <td>{{data.url}}</td>
        </tr>
    </tbody>
</table>
</div>
</div>
</div>
</div>
</div>
