<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card border-secondary">
          <div class="card-body">
            <i class="card-img-top ion-ios-paper-outline" style="font-size: 70px;background-color: rgb(248, 248, 248);padding: 0 10px;"></i>
            <h4 class="card-title">List Video</h4>
            <div class="card-text">
<table class="table">
    <thead>
        <tr>
        
            <th>Video Id</th>
            <th>Video title</th>
            <th>Url</th>
            <th> Date</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of videoList">
            <td>{{data.id}}</td>
            <td>{{data.title}}</td>
            <td>{{data.url}}</td>
            <td>{{data.date}}</td>
        </tr>
    </tbody>
</table>
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
