<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Add Category</h5>
<form (submit) = "addcategory()">
    <br>
<!-- <input type="number" name="requestId" id="" [(ngModel)]="requestId" placeholder="RequestId"><br> -->
<div style="text-align: center;">


<input type="String" name="categoryName" id="" [(ngModel)]="categoryName" placeholder="Category Name">
<br><br>
<button type="submit" class="" mat-raised-button color="primary" type="submit">Add Category</button>&nbsp;
                   <button type="reset" class="" mat-raised-button color="warn">Reset</button>
</div>
</form>
</div>
</div>
        </div>
      </div>
    </div>
    
</body>